#Nicola-Red{
    background-color: #e60005;
}
#Nicola-Green{
    background-color: #02e307;
}
#Nicola-Font-Color{
    color: white;
}
#Nicola-Font-Color:hover{
    color: cyan;
    text-decoration: underline;
    
}
.Nicola-Grey{
    margin: 10px;
    background-color: lightgray;
}
.Nicola-Margin-Top{
    margin-top: 5% ;
}
.Nicola-Margin-Left{
    margin-Left: 20% ;
    margin-right: 0;
    list-style-type: none;
 
}