#Nicola-Red{
    background-color: #e60005;
}
#Nicola-Green{
    background-color: #02e307;
}
#Nicola-Pink{
    background-color: #b328bd;
}
#Nicola-Font-Color{
    color: white;
}
#Nicola-Font-Color:hover{
    color: cyan;
    text-decoration: underline;
    
}
.Nicola-Grey{
    margin: 10px;
    background-color: lightgray;
}
.Nicola-White{
    background-color: white;
}
.Nicola-Margin-Top{
    margin-top: 15% ;
}
.Nicola-Margin-Left{
    margin-Left: 20% ;
    
    list-style-type: none;
 
}
.Nicola-Margin-Right{
    margin-right: 10% ;
    
 
}
.Nicola-Padding-Top{
    padding-top: 10%;
}
.Nicola-Comment{
    margin-top: 3em;
    margin-left: 5px;
    margin-bottom: 0;
    padding: 5px;
    
}
.Nicola-Ul{
    list-style-type: none;
}
.Nicola-Button{
    max-width: 30%;
    display: block;
}
.N-P{
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 40%;
}
.Nicola-Flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.N-Bar{
    max-width: 100%;
    flex-grow: 1;
}
.Nicola-Flex-Col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.N-80{
    max-width: 80%;
    flex-grow: 1;
    width: 80%;
}
.N-100{
    max-width: 100%;
    flex-grow: 1;
    width: 100%;
}
.N-FS{
    align-self: flex-start;
    display: inline;
}

.N-FE{
    align-self: flex-end;
    text-align: right;
    display: inline;
    margin-left: 85%;
}
.Nicola-Flex-2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}

